body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
}

nav {
    display: flex;
    gap: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    background-color: #8d99ae;
    padding-top: 10px;
    justify-content: flex-start;
    padding-left: 30px;
    padding: 20px;
    text-align: center;

}

nav img {
    width: 30px;
    border-radius: 20px;
    text-align: center;

}


nav a {
    padding: 010px 20px;
    text-decoration: none;
    color: #005f73;

    text-align: center;
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 3px #1d3557;
    flex-basis: 50px;



}

nav a:hover {
    background-color: #1d3557;
    color: azure;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    margin-top: 50px;
}

.naam-product {
    display: flex;
    gap: 100px;
    padding-top: 10px;
    margin: 10px;
    border-bottom: 3px solid #1d3557;
}

.price a {
    text-decoration: none;
    color: #8d99ae;
    background-color: #1d3557;
    text-align: center;
    display: block;
    padding: 5px 30px;
    border-radius: 5px;
    border: 3px black;
}

.price a:hover {
    background-color: #1d3557;
    color: azure;

}

.price {
    display: flex;
    margin: 10px;
    padding: 5px;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    flex-wrap: nowrap;
}


.omschrijving {
    text-align: center;
    border-bottom: 3px solid #1d3557;
    padding: 10px;
    margin: 5px;

}

.gelerateerde-producten {
    display: flex;
    flex-direction: row;

}



img {
    width: 200px;
    padding-bottom: 10px;
}

footer {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    color: #8d99ae;
    background-color: #1d3557;
    padding-bottom: 10px;
    gap: 10px;
    padding-top: 5px;

}